@font-face {
  font-family: "Glysa";
  src: url('fonts/Glysa.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url('fonts/LexendDeca.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --gray-100: #141414;
  --gray-90: #191919;
  --gray-80: #1E1E1E;
  --gray-70: #232323;
  --gray-60: #282828;
  --gray-50: #2D2D2D;
  --gray-40: #323232;
  --gray-30: #373737;
  --gray-20: #3C3C3C;
  --gray-10: #414141;

  --text-100: rgba(255, 255, 255, 1);
  --text-56: rgba(255, 255, 255, 0.56);
  --text-32: rgba(255, 255, 255, 0.32);

  --background-special: linear-gradient(180deg, rgba(40, 40, 40, 0.7) 0%, var(--gray-60) 100%), var(--gray-10);
  --background-special-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04)), linear-gradient(180deg, rgba(40, 40, 40, 0.7) 0%, #282828 100%), var(--gray-10);
  --background-special-active: linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04)), linear-gradient(180deg, rgba(40, 40, 40, 0.7) 0%, #282828 100%), var(--gray-10);

  --line: 1px solid var(--gray-60)
}

html,body{
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: Lexend, serif;
  background: var(--gray-100);
  color: var(--text-100);
}

*{
  box-sizing: border-box;
}

h1,h2{
  font-weight: 500;
  letter-spacing: 0;
  font-family: Glysa, sans-serif;
  margin: 0;
}

h1{
  font-size: 32px;
  line-height: 48px;
}

h2{
  font-size: 24px;
  line-height: 40px;
}

p, label:not(.fileUploadButton), h3{
  font-weight: 400;
  letter-spacing: 0.01em;
}

h3{
  font-size: 16px;
  line-height: 24px;
}

p{
  font-size: 14px;
  line-height: 20px;
}

p.message, label:not(.fileUploadButton){
  font-size: 12px;
  line-height: 16px;
}

label:not(.fileUploadButton){
  color: var(--text-56);
  display: block;
  margin-bottom: 4px;
}

input{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 11px 12px;
  border-radius: 8px;
  gap: 8px;
  border: 1px solid var(--gray-60);
  background: var(--gray-80);
  color: var(--text-100);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: block;

}

input:hover{
  border-color: var(--gray-30);
}


input:focus{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: var(--gray-60);
  border-color: var(--gray-10);
  outline: none;
}

input::placeholder{
  color: var(--text-32);
}

button, .fileUploadButton{
  height: fit-content;
  margin: 8px 0;
  gap: 10px;
  padding: 11px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  color: var(--white);
  background: transparent;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background: var(--gray-60);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

button.iconText, .fileUploadButton.iconText{
  padding: 8px 16px 8px 12px;
}

button path, .fileUploadButton path{
  fill: var(--text-100);
}

button.icon, .fileUploadButton.icon{
  padding: 8px;
}

button.icon>svg, button.icon>img{
  height: 20px;
  width: 20px;
}

button>svg, .fileUploadButton>svg, button>img{
  height: 14px;
  width: 14px;
}

button:hover, .fileUploadButton:hover{
  background: var(--gray-50);
}

button:active, .fileUploadButton:active{
  background: var(--gray-40);
}

button.secondary, .fileUploadButton.secondary, button.popoverButton{
  background: none;
}

button.secondary:hover, .fileUploadButton.secondary:hover, button.popoverButton:hover{
  background: var(--gray-90);
}

button.secondary:active, .fileUploadButton.secondary:active, button.popoverButton:hover{
  background: var(--gray-80);
}

button.popoverButton{
  background: none;
  padding: 12px 10px;
  border-radius: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  min-width: 200px;
}

button.popoverButton > .iconWrapper{
  height: 20px;
  width: 20px;
}

button.popoverButton:first-of-type{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

button.popoverButton:last-of-type{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

button.popoverButton:hover{
  background: var(--gray-70);
}

button.popoverButton:active{
  background: var(--gray-60);
}

button.popoverButton path{
  fill: var(--text-56);
}

button.special{
  position: relative;
  border: 1px solid var(--gray-60);
  background: var(--background-special);
  border-radius: 1000px;
}

button.special:hover{
  background: var(--background-special-hover);
}

button.special:active{
  background: var(--background-special-active);
}

.fileUploadButton > input{
  display: none;
}

div.iconWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
}

main{
  display: grid;
  grid-template-columns: 1fr 768px 1fr;
  grid-template-rows: repeat(2, 96px) 1fr;
  min-height: 100vh;
}

@media screen and (max-width: 1000px) {
  main{
    grid-template-columns: 100%;
  }
}
